
    
<section class="Header">
  <div class="titulo-principal">
    <section >
        <div class="centraliza">
          <img src="../../../assets/img/sankofa_logo.jpg" alt=""  />
        </div>
        <br/>
    </section>  
    Pesquisa de satisfação do cliente
  </div>
</section>

<div class="selecao-container">  

  <form class="form-container" [formGroup]="avaliacaoForm" (ngSubmit)="validarEmail()">
  
    <div class="esquerda centraliza">  
        <div class="subtitulo">ADM</div> 
        <div class="subtitulo1">Área do administrador</div> 
        <div >
          <div class="form-group">
            <button type="button"   (click)="logar()">Logar</button>
          </div>
        </div>   
    </div>

    <div class="direita centraliza">
        <div class="subtitulo">AVALIAÇÃO</div> 
        <div class="subtitulo1">Deixe sua opinião sobre a sua experiência de compra</div> 
        <br/>
        <div class="form-group label">

          <label for="email">Email:</label>

          <input type="email" id="email" formControlName="email">

          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="error-message-small">
            <div *ngIf="email?.errors?.['required']">Email é obrigatório.</div>
            <div *ngIf="email?.errors?.['email']">Email inválido.</div>
          </div>

        </div>
      
        <div >
          <div class="form-group">
            <button type="submit" [disabled]="avaliacaoForm.invalid">Avaliar</button>
          </div>

          <!-- Mensagem de erro -->
          <div *ngIf="errorMessage" class="centraliza error-message">
            {{ errorMessage }}
          </div>
        </div>
    </div>
  </form>
</div>
