.selecao-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}

button {
  background-color: black;
  width: 100%;
  color: white;
  padding: 10px 15px;
  margin-top: 20px !important;
  border: none;
  border-radius: 3px;
  width: 40%;
  cursor: pointer;
}

.container img {
  max-width: 50px;
  max-height:50px;
  width: auto;
  height: auto;
}

img {
  vertical-align: top
}

.titulo-principal {
  padding-top: 10px;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 200%;
  text-align: center;
 }

.centraliza {
  display: inline-block;
  width: 100%;
  margin-bottom: 8px;
  text-align: center;
  margin-top: 10px;
}

.selecao-tamanho {
  width:100%;
}

.form-container {
  display: flex;
  justify-content: space-between; 
}

.esquerda {
  flex: 2; 
  margin-right: 10px; 
  margin-top: 110px; 
}

.direita {
  flex: 3; 
  margin-left: 50px; 
}

.subtitulo {
  font-weight: bold;
  font-size: 130%;
  margin-bottom: 10px;
}

.subtitulo1 {
 
  font-size: 90%;
  margin-bottom: 10px;
}

.label{
  text-align: left;
}

.form-group {
  margin-bottom: 10px;
}

.button-cinza {
  background-color: #ccc;
  color: #000;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.button-cinza:hover {
  background-color: #ddd;
}

.error-message {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
}

.error-message-small {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 4px;
  margin-top: 5px;
  border-radius: 2px;
  font-size: smaller;
}

