<section class="Header">
    <div class="titulo-principal">
      <section >
          <div class="centraliza">
             <img src="../../../assets/img/sankofa_logo.jpg" alt=""  />
          </div>
          <br/>
      </section>  
      Dashboard
    </div>
</section>

<div class="grid-resultado-container ">
    
    <div class="icon-container">
        <mat-icon class="icon-display small-button" (click)="irParaListaAvaliacoes()">table_view</mat-icon>
        <mat-icon class="icon-display small-button" (click)="voltar()">logout</mat-icon>
    </div>

    <form class="centraliza">
        
        <div class="subtitulo">Composição da avaliação de compra</div>
            <div class="grafico-pizza">
            <canvas id="myChart"></canvas>
        </div>
 
    </form>
</div>