
    
    
<section class="Header">
    <div class="titulo-principal">
      <section >
          <div class="centraliza">
             <img src="../../../assets/img/sankofa_logo.jpg" alt=""  />
          </div>
          <br/>
      </section>  
      Dashboard
    </div>
</section>

<div class="grid-resultado-container ">  
    <form class="centraliza">
        <div class="subtitulo">Composição da avaliação de compra</div>
        <div class="grafico-pizza">
            <canvas id="myChart"></canvas>
          </div>
          
          <div>
              <div class="form-group">
                  <button type="button"  class="button-cinza"(click)="voltar()">Voltar</button>
                </div>
            </div>
        </form>
    </div>