<div class="grid-resultado-container">  
    
    <section class="Header">
        <div class="store store--right container">
            <img src="../../../assets/img/usuario.png" alt="" />
        </div>
    
        <div>
            <span >Bem vindo {{username}}</span>
            <br/>
            <div class="titulo-principal">Estatísticas</div>    
        </div>
    </section>

    <form>
        <!-- <div>Período {{dataInicio}} à {{dataFim}}</div> -->

        <div class="grafico-pizza">
            <canvas id="myChart"></canvas>
          </div>

     
          
          <div>
              <div class="form-group">
                  <button type="button"  class="button-cinza"(click)="voltar()">Voltar</button>
                </div>
            </div>
        </form>
    </div>