<div class="login-container">
   <section >
      <div class="centraliza">
         <img src="../../../assets/img/sankofa_logo.png" alt=""  />
      </div>
      <br/>
   </section>
   <div class="titulo-principal">Login</div>
   <form>
      <div class="form-group centraliza">
         <label for="username">Usuário:</label>
         <input type="text" id="username" name="username" [(ngModel)]="username" required>
         <label for="password">Senha:</label>
         <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <div>
         <button type="button" class="centraliza" (click)="login()">Entrar</button>
      </div>
   </form>
</div>
