
   
   <div class="titulo-principal">
      <section >
         <div class="centraliza">
            <img src="../../../assets/img/sankofa_logo.jpg" alt=""  />
         </div>
         <br/>
      </section>   
      Login
   </div>

   <div class="login-container">  

   <form>
      <div class="form-group centraliza">
         <label for="username">Usuário:</label>
         <input type="text" id="username" name="username" [(ngModel)]="request.email" required>
         <label for="password">Senha:</label>
         <input type="password" id="password" name="password" [(ngModel)]="request.password" required>
      </div>
      <div>
         <button type="button" class="centraliza" (click)="autenticar()">Entrar</button>
      </div>

      <br/>
      <!-- Mensagem de erro -->
      <div *ngIf="errorMessage" class="centraliza error-message">
         {{ errorMessage }}
      </div>
   </form>
</div>

