.avaliacao-container {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.form-group {
  margin-bottom: 20px;
}

.range {
  width: 100%;
  margin-bottom: 10px;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  margin-top: -20px;
}

.slider-labels span {
  flex: 6;
  text-align: center;
  font-size: 12px;
}
label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
}
.rating-slider {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.rating-button {
  background-color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.rating-button:hover {
  background-color: #e0e0e0;
}


button {
  background-color: black;
  width: 100%;
  color: white;
  padding: 10px 15px;
  margin-top: 20px !important;
  border: none;
  border-radius: 3px;
  width: 40%;
  cursor: pointer;
}

.container img {
  max-width: 50px;
  max-height:50px;
  width: auto;
  height: auto;
}

img {
  vertical-align: top
}

.titulo-principal {
  padding-top: 10px;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 200%;
  text-align: center;
 }

.centraliza {
  display: inline-block;
  width: 100%;
  margin-bottom: 8px;
  text-align: center;
  margin-top: 10px;
}

  
.avaliacao-container textarea {
  margin-bottom: 10px;
  
}

.error-message {
  color: #721c24;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
}

  